.spinner {
  width: 130px;
}
.light {
  color: pink;
}
.card {
  display: flex;
  border: 2px solid coral;
  padding: 15px;
  margin-top: 20px;
}
.card__img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}
.repo-item {
  margin: 10px;
}
